
<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header class="header">
  <a routerLink="dashboard" class="header-logo">Academic-Bot</a>
  
  <nav class="header-nav">
   
  </nav>
</header>
<div class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-item" (click)="setMode('perfil')">
      <i class="fas fa-user"></i>
      <span class="sidebar-text">Perfil</span>
    </div>
    <div class="sidebar-item" (click)="setMode('paraphrase')">
      <i class="fas fa-edit"></i>
      <span class="sidebar-text">Parafrasear</span>
    </div>
    <div class="sidebar-item" (click)="setMode('grammar')">
      <i class="fas fa-spell-check"></i>
      <span class="sidebar-text">Gramatical Checker</span>
    </div>
    
    <div class="sidebar-item" (click)="setMode('translate')">
      <i class="fas fa-language"></i>
      <span class="sidebar-text">traductor</span>
    </div>
    <div class="sidebar-item" (click)="setMode('historial')">
      <i class="fas fa-history"></i>
      <span class="sidebar-text">Historial</span>
    </div>
 
  </div>
</div>
<div class="content">
  <div class="paraphraser-container" *ngIf="mode === 'paraphrase'">
    <h1>PARAFRASEADOR</h1>
    <div class="paraphraser-modes">
      <span>Modos:</span>
      <select>
        <option value="standard">Estándar</option>
        
      </select>
    </div>
    <div class="paraphraser">
      <textarea [(ngModel)]="userMessage" placeholder="Escribe tu mensaje aquí"></textarea>
      <textarea readonly [value]="paraphrasedMessage" placeholder="Texto parafraseado aparecerá aquí"></textarea>
    </div>
    <button (click)="sendParaphrase($event, userMessage)">Reformular</button>
  </div>
  <div class="grammar-container" *ngIf="mode === 'grammar'">
    <h1>GRAMATICAL CHECKER</h1>
    <div class="grammar-checker">
      <textarea [(ngModel)]="userMessage" placeholder="Escribe tu mensaje aquí"></textarea>
      <textarea readonly [value]="correctedMessage" placeholder="Texto corregido aparecerá aquí"></textarea>
    </div>
    <button (click)="sendGrammarCheck($event, userMessage)">Comprobar</button>
  </div>
  <div class="translator-container" *ngIf="mode === 'translate'">
    <h1>Traductor</h1>
    <form class="translator-form" (submit)="translateMessage($event, userMessage)">
      <div class="input-group">
        
        <select [(ngModel)]="targetLanguage" name="language">
          <option value="es">Español</option>
          <option value="fr">Francés</option>
          <option value="de">Alemán</option>
          <option value="it">Italiano</option>
          <option value="en">Inglés</option>
          
        </select>
        
      </div>
      <br>
      <textarea [(ngModel)]="userMessage" placeholder="Escribe tu mensaje aquí" name="message"></textarea>
        <textarea readonly [value]="translatedMessage" placeholder="Texto traducido aparecerá aquí"></textarea>
      <button type="submit">Translate</button>
    </form>
  </div>
  <div class="profile-container" *ngIf="mode === 'perfil'">
    <h1>Perfil</h1>
    <form class="profile-form">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="profile.displayName" name="displayName" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="profile.email" name="email" />
      </div>
      <div class="form-group">
        <label>Telefono</label>
        <input type="tel" [(ngModel)]="profile.phone" name="phone" />
      </div>
      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input type="date" [(ngModel)]="profile.dob" name="dob" />
      </div>
      <div class="form-group">
        <label>Nacionalidad</label>
        <input type="text" [(ngModel)]="profile.country" name="country" />
      </div>
  
      <div class="form-group">
        <label>Dirección</label>
        <input type="text" [(ngModel)]="profile.address" name="address" />
      </div>
    <div>
      <button (click)="saveProfile()">Guardar</button>
    </div>
    <br>
     <div>
      <button type="button" (click)="deleteProfile()">Eliminar</button>
     </div>
      
    </form>
  </div>
  <div class="history-container" *ngIf="mode === 'historial'">
    <h1>Historial</h1>
    <div class="history-list">
      <div class="history-item" *ngFor="let item of historyItems">
        <i class="fas fa-file-alt"></i>
        <span>{{ item.entry }}</span>
        <span>{{ item.timestamp | date: 'short' }}</span>
      </div>
    </div>
    <button (click)="deleteHistory()">Eliminar historial</button>
  </div>


  
</div>
